{%extends 'base.html'%}
{% block content %} 
{{ block.super}}
<body>
    <div style="margin-top:30px;" class="container">
      <div clas="row">
        <div class="col-md-3 col-sm-3 col-lg-2"></div>
        <div class="col-md-3 col-xs-6 col-sm-3 col-lg-3">
        <img style="border-radius:100px;height:200px;width:200px;" src="{{profile.profile_pic.url}}" class="img-responsive" alt="Image">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 col-lg-5">
       <h3>{{user.username}}</h3>
      
       <p>followers <strong>{{profile.followers}}</strong> following <strong>{{profile.following}}</strong></p>
      
       <p>{{profile.bio }}</p>
       
      <p class="btn btn-default"> <a style="text-decoration:none" href="{% url 'update_profile' user.id %}">Edit profile</a></p>
      
      </div>
      <div class="col-md-3 col-sm-3 col-lg-2"></div>
    </div>
      <hr>
    </div>
    <div class="container">
      <hr>
      <div class="col-md-2"></div>
      <div class="col-md-8">


      </div>
      <div class="col-md-2"></div>
    </div>
  
</body>
{% endblock %}